.green {
    color: green;
}
.red {
    color: red;
}
.blue {
    color: blue;
}
.yellow {
    color: yellow;
}
.white {
    color: white;
}
.pink {
    color: pink;
}
.purple {
    color: purple;
}
.black {
    color: black;
}
.orange {
    color: orange;
}
.sky {
    color: skyblue;
}
.brown {
    color: brown;
}
.lavender {
    color: lavender;
}